<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>ass</display-name>
	<welcome-file-list>
		<welcome-file>shop</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>default</realm-name>
	</login-config>

	<!-- Admin security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin resources</web-resource-name>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<description>Constraint for administrator manage products</description>
			<role-name>orders</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Admin users allow to access admin pages</description>
		<role-name>orders</role-name>
	</security-role>
	
	<!-- Supplier security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Web service resources</web-resource-name>
			<url-pattern>/SupplierService</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<description>Constraint for suppler invoke the web service</description>
			<role-name>suppliers</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<description>Suppler users allow to invoke web service</description>
		<role-name>suppliers</role-name>
	</security-role>
	
	<!-- Servlet area -->
	<servlet>
		<description></description>
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.arunhoan.aip.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MainController</display-name>
		<servlet-name>MainController</servlet-name>
		<servlet-class>com.arunhoan.aip.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/shop</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CartController</display-name>
		<servlet-name>CartController</servlet-name>
		<servlet-class>com.arunhoan.aip.controller.CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>OrderController</display-name>
		<servlet-name>OrderController</servlet-name>
		<servlet-class>com.arunhoan.aip.controller.OrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderController</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
</web-app>